$content-width: 80%;
$content-width-smartphone: 94%;
$max-width: 850px;

$tablet: 768px;
$smartphone: 400px;

$primary-color: green;
$font-color: rgb(46,91,153);
$font-color-light: rgba(46,91,153,0.25);
$bluegreen: rgb(63,121,143);
$light-bluegreen: rgba(63,121,143,0.25);
$green: rgb(105,190,88);
$green-light: rgba(105,190,88,0.25);
$lightgreen: rgb(150,206,136);
$darkgreen: rgb(67,154,100);
$darkgreen-light: rgba(67,154,100,0.25);
$orange: rgb(251,173,24);
$orange-hover: #ffc85f;
$gray: rgb(100,100,100);
$gray-light: rgba(100,100,100,0.25);

